### Web Scraping Formula 1 Data from various sites
#### URL: https://pitwall.app/
#### URL: https://www.formula1.com/en/results.html/2023/races.html

In [2]:
year = '2023'
urlstr = 'https://pitwall.app/seasons/{}-formula-1-world-championship'

# Combine the URL with year
url = urlstr.format(year)
url

'https://pitwall.app/seasons/2023-formula-1-world-championship'

In [3]:
# Let's do it for 5 years
years = ['2023', '2022', '2021', '2020', '2019']
for y in years:
    url = urlstr.format(y)
    print(url)

https://pitwall.app/seasons/2023-formula-1-world-championship
https://pitwall.app/seasons/2022-formula-1-world-championship
https://pitwall.app/seasons/2021-formula-1-world-championship
https://pitwall.app/seasons/2020-formula-1-world-championship
https://pitwall.app/seasons/2019-formula-1-world-championship

In [4]:
import pandas as pd

In [11]:
# Using on 2023 data
year = '2023'
urlstr = 'https://pitwall.app/seasons/{}-formula-1-world-championship'

# Combine the URL with year
url = urlstr.format(year)
url
df = pd.read_html(url, header=0, na_values=None)
df[0].shape             # Reading only 1st table with standings

(22, 7)

In [29]:
df2023 = df[0]
df2023.head()

   Pos                Driver           Car  Wins  Podiums  Pts    Gap
0    1    #1  Max Verstappen      Red Bull  19.0     21.0  575    NaN
1    2    #11  Sergio PÃ©rez      Red Bull   2.0      9.0  285 -290.0
2    3   #44  Lewis Hamilton      Mercedes   NaN      6.0  234 -341.0
3    4  #14  Fernando Alonso  Aston Martin   NaN      8.0  206 -369.0
4    5  #16  Charles Leclerc       Ferrari   NaN      6.0  206 -369.0

In [30]:
# Export the data to csv
df2023.to_csv('F1 2023 Standings.csv', index=False)

In [18]:
# Using the data directly from F1 site
year = '2023'
f1url = 'https://www.formula1.com/en/results.html/{}/drivers.html'
urlF1 = f1url.format(year)
urlF1

'https://www.formula1.com/en/results.html/2023/drivers.html'

In [20]:
dfF12023 = pd.read_html(urlF1, header=0)
dfF12023[0].shape

(22, 7)

In [27]:
dfF12023[0].dtypes

Unnamed: 0     float64
Pos              int64
Driver          object
Nationality     object
Car             object
PTS              int64
Unnamed: 6     float64
dtype: object

In [28]:
dfF12023[0].head()

,Unnamed: 0,Pos,Driver,Nationality,Car,PTS,Unnamed: 6
0,NaN,1,Max Verstappen VER,NED,Red Bull Racing Honda RBPT,575,NaN
1,NaN,2,Sergio Perez PER,MEX,Red Bull Racing Honda RBPT,285,NaN
2,NaN,3,Lewis Hamilton HAM,GBR,Mercedes,234,NaN
3,NaN,4,Fernando Alonso ALO,ESP,Aston Martin Aramco Mercedes,206,NaN
4,NaN,5,Charles Leclerc LEC,MON,Ferrari,206,NaN