<a href="https://colab.research.google.com/github/techacker/HTML-CSS-JS-Python/blob/master/Pandas_WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = pd.read_html(url, header=0,keep_default_na=False)
df = page[1]  # Since the required table was at index 1.
df.shape

(100, 7)

In [3]:
df.columns

Index(['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth',
       'Employees', 'Headquarters'],
      dtype='object')

In [5]:
df.dtypes

Rank                       int64
Name                      object
Industry                  object
Revenue (USD millions)     int64
Revenue growth            object
Employees                  int64
Headquarters              object
dtype: object

In [4]:
df.head(3)

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,611289,6.7%,2100000,"Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,513983,9.4%,1540000,"Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,413680,44.8%,62000,"Spring, Texas"

In [7]:
df.to_csv('Top10Companies.csv', index=0)

In [8]:
df[['Name','Revenue (USD millions)', 'Headquarters']].head()

                 Name  Revenue (USD millions)           Headquarters
0             Walmart                  611289  Bentonville, Arkansas
1              Amazon                  513983    Seattle, Washington
2          ExxonMobil                  413680          Spring, Texas
3               Apple                  394328  Cupertino, California
4  UnitedHealth Group                  324162  Minnetonka, Minnesota